<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">Przekształć swoje wnętrze w dzieło sztuki</h1>
    <p class="hero-text">
      Odkryj najwyższą jakość wykończenia i elegancję, które nadadzą Twojemu
      wnętrzu wyjątkowy charakter. Wybierz nasze usługi i ciesz się perfekcyjnym
      wykonaniem, nowoczesnym stylem i dbałością o każdy detal.
    </p>
    <!-- <a href="#rent-a-yacht" class="hero-btn">Yacht rental</a> -->
    <button id="openModal" type="button" class="hero-btn">Zamów wycenę</button>
  </div>
</section>
