<div class="backdrop">
  <div class="modal">
    <button type="button" class="modal-close-btn">
      <svg width="16" height="16" class="icon-close-btn">
        <use href="/img/sprite.svg#icon-close-menu"></use>
      </svg>
    </button>
    <p class="modal-title">Przekaż nam opinię o <span> naszej pracy </span></p>
    <form class="modal-form">
      <!-- <label for="user-name" class="modal-label">Pole jest obowiązkowe</label> -->
      <input
        type="text"
        required
        name="user-name"
        class="modal-input"
        placeholder="Twoje imię*"
        id="user-name"
      />
      <!-- <label for="user-email" class="modal-label"></label> -->
      <input
        type="email"
        required
        name="user-email"
        class="modal-input"
        placeholder="Twój e-mail*"
        id="user-email"
      />
      <!-- <label for="user-tel" class="modal-label"
        >Pole jest nie obowiązkowe</label -->

      <input
        type="text"
        name="user-tel"
        class="modal-input"
        placeholder="Twój telefon"
        id="user-tel"
      />

      <textarea
        name="user-coment"
        placeholder="Zostaw komentarz ..."
        id="user-coment"
        class="modal-input"
      ></textarea>
      <button type="submit" class="modal-send-btn">Wysłać</button>
    </form>
  </div>
</div>
