<section id="portfolio" class="portfolio container">
  <h2 class="ptf-title">Portfolio</h2>
  <ul class="ptf-list">
    <li class="ptf-card">
      <img
        src="../img/portfolio-img/strzalowska.jpg"
        alt="Interior"
        class="ptf-card-img"
      />
      <hr class="dashed-line" />

      <p class="ptf-card-description">
        Całkowita powierzchnia - 50 m2: <br />
        Nowoczesny styl z akcentami brutalności! Sufity i ściany pomalowano w
        harmonijnych odcieniach, a charakteru dodaje dekoracyjny beton na jednej
        ze ścian. Podłogę wyłożono stylowymi płytkami, łazienkę wyposażono w
        wygodny prysznic, a główną atrakcją jest efektowny akcent - kamienna
        umywalka, która dopełnia wizerunku wnętrza.
      </p>
    </li>
    <li class="ptf-card">
      <img
        src="../img/portfolio-img/batorego.jpg"
        alt="Interior"
        class="ptf-card-img"
      />
      <hr class="dashed-line" />
      <p class="ptf-card-description">
        Całkowita powierzchnia - 120 m2 : <br />
        Styl i praktyczność w każdym calu! Usunięto stare podłogi, postawiono
        ścianki działowe, powstała nowoczesna kuchnia z meblami oraz dwie
        łazienki. Ściany zostały wyrównane, wytapetowane i odświeżone farbą.
        Zamontowano sufit Armstrong, a płytki podłogowe Farmacel dodają
        wykończenia.
      </p>
    </li>
    <li class="ptf-card">
      <img
        src="../img/portfolio-img/podgorna.jpg"
        alt="Interior"
        class="ptf-card-img"
      />
      <hr class="dashed-line" />

      <p class="ptf-card-description">
        Całkowita powierzchnia - 160 m2: <br />
        Nowoczesne wnętrze z dopracowanymi detalami! Cała powierzchnia jest
        wyłożona stylowymi płytkami z elementami dekoracyjnymi, łazienki są
        wykończone pod klucz, ściany i sufity są odświeżone doskonałym
        malowaniem, a ozdobny gzyms nadaje wnętrzu kompletności i wyrafinowanego
        wyglądu.
      </p>
    </li>
    <li class="ptf-card">
      <img
        src="../img/portfolio-img/skarbymirzyce.jpg"
        alt="Interior"
        class="ptf-card-img"
      />
      <hr class="dashed-line" />

      <p class="ptf-card-description">
        Całkowita powierzchnia - 80 m2: <br />
        Mieszkanie nabrało stylu i przytulności: wykwintne płytki z elementami
        dekoracyjnymi, dwie w pełni wyposażone łazienki, świeżo pomalowane
        ściany i sufity, wykończone eleganckim ozdobnym gzymsem. Przestrzeń jest
        gotowa do wygodnego życia!
      </p>
    </li>
  </ul>

  <button type="button" class="ptf-btn">Wiecej...</button>
</section>
