<section id="services" class="service-container">
  <div class="service">
    <h2 class="service-head">Nasze usługi</h2>
    <ul class="service-list">
      <li class="service-card">
        <img
          class="card-img"
          src="../img/service-img/foto1.webp"
          alt="interior"
        />
        <p class="card-title">Generalny remont mieszkań</p>
        <p class="card-description">
          Pełen zakres usług, od rozbiórki po wykończenie. Idealny dla tych,
          którzy chcą całkowicie odnowić swój dom
        </p>
        <button class="service-card-btn" type="button">zamówić</button>
      </li>
      <li class="service-card">
        <img
          class="card-img"
          src="../img/service-img/foto2.webp"
          alt="interior"
        />
        <p class="card-title">Naprawy kosmetyczne</p>
        <p class="card-description">
          Szybkie i sprawne remonty wnętrz, w tym malowanie ścian, wymiana
          podłóg i drobne naprawy.
        </p>
        <button class="service-card-btn" type="button">zamówić</button>
      </li>
      <li class="service-card">
        <img
          class="card-img"
          src="../img/service-img/foto3.webp"
          alt="interior"
        />
        <p class="card-title">Designerski remont</p>
        <p class="card-description">
          Stworzenie unikalnego wnętrza według indywidualnego projektu, z
          uwzględnieniem wszystkich życzeń klienta.
        </p>
        <button class="service-card-btn" type="button">zamówić</button>
      </li>
      <li class="service-card">
        <img
          class="card-img"
          src="../img/service-img/foto4.webp"
          alt="interior"
        />
        <p class="card-title">Remont łazienek i kuchni</p>
        <p class="card-description">
          Specjalistyczne usługi renowacji najbardziej funkcjonalnych
          pomieszczeń w mieszkaniu
        </p>
        <button class="service-card-btn" type="button">zamówić</button>
      </li>
    </ul>
  </div>
</section>
