<section class="stage-section container">
  <div class="order-backdrop">
    <div class="order-modal">
      <p class="order-title">Wezwij ekipe do pomiaru</p>
      <form class="order-form">
        <input
          type="text"
          required
          name="user-tel"
          class="order-input"
          placeholder="Twój telefon*"
        />
        <input
          type="text"
          name="user-question"
          class="order-input"
          placeholder="Twoje pytanie"
        />
        <input
          type="text"
          required
          name="user-adres"
          class="order-input"
          placeholder="Twój adres*"
        />
        <button type="submit" class="order-send-btn">Wysłać</button>
      </form>
    </div>
  </div>

  <div class="cork"></div>

  <div class="stage">
    <img
      src="../img/stage-img/stageimg.webp"
      alt="interior"
      class="stage-img"
    />
    <div>
      <h3 class="stage-title">Etapy współpracy</h3>
      <ul class="stage-list">
        <li class="stage-item">
          <span class="list-count">1|</span>Montaż, demontaż ścianek działowych
        </li>
        <li class="stage-item">
          <span class="list-count">2|</span>Tynkowanie ścian i sufitów
        </li>
        <li class="stage-item">
          <span class="list-count">3|</span>Układanie instalacji
        </li>
        <li class="stage-item">
          <span class="list-count">4|</span>
          Wymiana, tworzenie systemów hydraulicznych i grzewczych
        </li>
        <li class="stage-item">
          <span class="list-count">5|</span>
          Instalacja urządzeń elektrycznych, przeciąganie kabli
        </li>
        <li class="stage-item">
          <span class="list-count">6|</span>Prace wykończeniowe
        </li>
      </ul>
    </div>
  </div>
</section>
